extends layout

block content
  h1 Subtitle language trainer

  p A tool which takes a subtitle file and blanks out the most common words to varying degrees. It can help fill in gaps while watching forign films. Upload a .srt file or similar to get an archive of subtitle files with levels of missing words.

  form(action='/upload', method='post', enctype='multipart/form-data')
    label(for='file') Upload a .srt file 
    input#file(type='file', name='file')
    br
    input(type='submit', name='submit', value='Upload!')
